@font-face {
    font-family: "Gotham";
    font-weight: 700;
    src: url('../fonts/Gotham-Bold.eot');
    src: local('Gotham');
    src: url('../fonts/Gotham-Bold.svg') format('svg');
    src: url('../fonts/Gotham-Bold.ttf') format('truetype'); 
    src: url('../fonts/Gotham-Bold.woff') format('woff'); 
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'); 
}
@font-face {
    font-family: "Gotham";
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/Gotham-BoldItalic.eot');
    src: local('Gotham');
    src: url('../fonts/Gotham-BoldItalic.svg') format('svg');
    src: url('../fonts/Gotham-BoldItalic.ttf') format('truetype'); 
    src: url('../fonts/Gotham-BoldItalic.woff') format('woff'); 
    src: url('../fonts/Gotham-BoldItalic.woff2') format('woff2'); 
}
@font-face {
    font-family: "Gotham";
    font-weight: 100;
    src: url('../fonts/Gotham-Book.eot');
    src: local('Gotham');
    src: url('../fonts/Gotham-Book.svg') format('svg');
    src: url('../fonts/Gotham-Book.ttf') format('truetype'); 
    src: url('../fonts/Gotham-Book.woff') format('woff'); 
    src: url('../fonts/Gotham-Book.woff2') format('woff2'); 
}
@font-face {
    font-family: "Gotham";
    font-weight: 500;
    src: url('../fonts/Gotham-Medium.eot');
    src: local('Gotham');
    src: url('../fonts/Gotham-Medium.svg') format('svg');
    src: url('../fonts/Gotham-Medium.ttf') format('truetype'); 
    src: url('../fonts/Gotham-Medium.woff') format('woff'); 
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'); 
}